body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    gap: 20px;                /* Adds spacing between .left and .right */
    height: 100vh;            /* Ensures full viewport height */
    margin-left:auto;
}
.left{
    background:blue;
    height:80vh;
    width:60vw;
}
.right{
    background:white;
    color:black;
    height:80vh;
    width:20vw;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navigate-buttons {
    margin-top: 20px;
    display:flex;
  }
  
  button {
    padding: 10px;
    border: none;
    background: rgb(187, 116, 11);
    cursor: pointer;
    border-radius: 5px;
    margin:0px 10px
  }
  
  button:hover {
    background: black;
  }

  .quiz-box {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #333;
    background-color: #f5f5f5;
    cursor: pointer;
    color:black
  }
  
  .quiz-box:hover {
    background-color: #2a58bc;
  }